<footer class="site-footer">
  <div class="footer-inner">

    <a href="https://x.com/_snowst0rm" class="social-link" data-label="@_snowst0rm">
      <img src="https://cdn.simpleicons.org/x/white" alt="X/Twitter">
    </a>

    <div class="footer-core">
      <img src="img/placeholder.png" alt="Core">
    </div>

    <a href="https://github.com/snow-st0rm" class="social-link" data-label="@snow-st0rm">
      <img src="https://cdn.simpleicons.org/github/white" alt="GitHub">
    </a>

  </div>
  <div class="footer-text">
    © 2026 SNOWST0RM · UNIT-03 ONLINE
  </div>
</footer>